<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526363179403-cf56vkj6gpqrj5b7uf7hmr1j211v5u0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526363179403-cf56vkj6gpqrj5b7uf7hmr1j211v5u0l</string>
	<key>API_KEY</key>
	<string>AIzaSyAvzk6UpZL3dnmrW0icMt1bBl6nadqdMYU</string>
	<key>GCM_SENDER_ID</key>
	<string>526363179403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.Health.Everyday</string>
	<key>PROJECT_ID</key>
	<string>everyday-5683d</string>
	<key>STORAGE_BUCKET</key>
	<string>everyday-5683d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526363179403:ios:7df1ecf3527899afc4978e</string>
</dict>
</plist>